body {
  background-image: url('low-poly-grid-haikei.png');
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  color: aqua;
  position: center;
}

h1,h2 {
  text-align: center;
}

.profile {
  width: 80%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
<<<<<<< HEAD
}

#navbar {
  list-style-type: none;
  padding-top: 0;
  overflow: hidden;
  position: sticky;
  display: inline-block;
  border-radius: 20px;
}

#navbar .nav {
  float: left;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px
=======
>>>>>>> 35b90aa741a9e5bd9e14897fd4f1dbd963ebd5b7
}